 body{
    margin: 0;
    background-color: #021525
}
 #header{
    width: 100%;
    background-color:#04243f;
    height: 93px;
 }
 .homepage__container{
    padding:10px 10%;
 }
 nav{
    display:flex;
    align-items:center;
    justify-content: space-between;
    flex-wrap: wrap;
 }

 .logo{
    width: 140px;
     padding: 10px; 
 }
 
 nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
 }
 nav ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
 }
 nav ul li a::after{
  content:'';
  width: 0%;
  height: 3px;
  background: #ff004f;
  position:absolute;
  left:0;
  bottom:-6px;
  transition: 0.5s;
 }
 nav ul li a:hover::after{
    width: 100%;
 }
 
.mainaboutme{
    display: block;
    max-width: 100%;
    height: 100%;
}
.mainaboutme .about-col-1{
    width: 100%;
    height: 100%;
    background:rgb(7, 85, 7);;

}
.mainaboutme .about-col-1 ul{
    display:flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
    justify-content: space-evenly;
}
.mainaboutme .about-col-1 ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    padding: 18px;
    display: block;
    border-bottom: 1px solid #204044;
}
.mainaboutme .about-col-1 ul li a:hover{
    background: #204044;
}

.mainaboutme .about-col-2{
    width: 90%;
    height: 100%;
    padding-top: 20px;
    background-color:#021525;;
    color: whitesmoke;
    text-align: center;
    
}
.btnblog{
    height: 35px;
    cursor: pointer;
    text-decoration: none;
    color: rgb(3, 58, 3);
}
.about-col-2 .page-title{
    text-align: center;
    margin-bottom: 1.5rem;
}
table{
    width: 100%;
    border-collapse: collapse;
    font-size: 1.1rem;
}
th, 
td{
    padding: 15px;
    text-align: row;
    border-bottom: 1px solid rgb(145, 173, 145);
}
.edit{
    color: green;
    cursor: pointer;
}
.delete{
    color: red;
    cursor: pointer;
}
.publish{
    color: blue;
    cursor: pointer;
}
.edit:hover,
.delete:hover,
.publish:hover{
    text-decoration: underline;
}
.text-input{
    width: 70%;
    height: 50px;
}
.body-input{
    width: 70%;
    height: 40vh;
}
form div{
    margin-bottom: 10px;
}
.mainmycontact{
    display: flex;
    max-width: 100%;
    height: 700px;
}
.mainmycontact .about-col-1{
    width: 25%;
    height: 100%;
    background:rgb(7, 85, 7);;
}
.mainmycontact .about-col-1 ul{
    list-style: none;
    margin: 0px;
    padding: 0px;

}
.mainmycontact .about-col-1 ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    padding: 18px;
    display: block;
    border-bottom: 1px solid #204044;
}
.mainmycontact .about-col-1 ul li a:hover{
    background: #204044;
}
.mainmycontact .about-col-2{
    width: 75%;
    height: 100%;
    padding: 40px 100px 100px;
    background-color:#021525;;
    color: whitesmoke;
}



/*--------------------------------------------small screen------------------*/
@media only screen and (max-width:600px){
    
    table{
        width: 100%;
        border-collapse: collapse;
        font-size: 0.7rem;
    }
    .mainaboutme{
        display: block;
    }
    .about-col-1 ul{
        display: flex;
        
    }
    .mainaboutme .about-col-1{
        width: 100%;
        margin-bottom: 30px;
    }
    .contact_table{
        width: 100%;
    }
    .homepage__container{
      padding:15px;
    }
    .body-input{
        width: 100%;
    }
    .createblog{
        padding-left: 20px;
    }
}