        body{
            margin: 0;
            background:url(/chess\ wallpaper.jpg)
        
        }
        nav{
            margin: 0;
        }
        
         ul {
           list-style-type: none;     
           text-align: end;
           margin: 0;
           padding: 20px;
         }
        li{
            display: inline;
            font-size: 1.2em;
            font-family: Arial;
            line-height: 30px;
         }
         li a{
            text-decoration: none;
            color: whitesmoke;
            padding: 5px 20px;
         } 
          li a:hover{
            background-color:brown;
            color: white;
         }
         /*-----------------------------------------------Homepage------------------------------------*/
         /* body section*/
         .main__container{
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            justify-self: center;
            margin: 0 auto;
            height: 80vh;
            z-index: 1;
            width: 100%;
            max-width: 1000px;
            padding: 0 50px;
         }
         .main__content h1{
            font-size: 4rem;
            background-color: rgb(128, 51, 0);
            background-image: linear-gradient(to top,#ffb108dc 0%, #ffb1
            100%);
            background-size: 100%;
           -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-text-fill-color:transparent;
         }
         .main__content h2{
            font-size: 4rem;
            background-color: rgb(12, 12, 12);
            background-image: linear-gradient(to top,#f1ecec 0%, rgba(241, 234, 231, 0.808)
            100%);
            background-size: 100%;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-text-fill-color:transparent;
         }
         .main__content p{
            margin-top: 1rem;
            font-size: 2rem;
            font-weight: 700;
            color:aqua;
         }
         .main__btn{
            font-size: 1rem;
            background-image: linear-gradient(to top,rgb(238, 96, 13) 0%,rgba(238, 96, 13) 100%);
            padding: 14px 32px;
            border: none;
            border-radius: #fff;
            margin-top: pointer;
            position: relative;
            transition: all 0.35s;
            outline: none;
         }
         .main__btn a{
            position: relative;
            z-index: 2;
            color: #fff;
            text-decoration: none;
         }
         .main__btn::after{
            position:absolute;
            content:"";
            top:0;
            left:0;
            width:0;
            height: 100%;
            background: #4837ff;;
            transition: all 0.35s;
            border-radius: 4px;
         }
         .main__btn:hover{
            color:#fff
         }
         .main__btn:hover:after {
            width: 100;
         }
         .main__img--container{
            text-align:right;
    
         }
        #main__img{
            height: 180%;
            width: 100%;
            border-radius: 200px;
        }
        .main__content{
            text-align: left;
            margin-bottom: 4rem;
        }   
        .main__content h1{
            font-size: 2.5rem;
            margin-top: 2rem;
        }
        .main__content h2{
            font-size: 3rem;
        }
        .main__content p{
            margin-top: 1rem;
            font-size: 1.5rem;

        }

    @media screen and (max-width:480px){
        .main__content h1{
            font-size: 2.5rem;
            margin-top: 3rem;
        }
        .main__content h2{
            font-size: 2rem;
        }
        .main__content p{
            margin-top: 1rem;
            font-size: 1.5rem;
        }
        .main__btn{
            padding: 12px 36px;
            margin: 2.5rem 0;
        }
      }
      /*-----------------------------------------about me css----------------------------------------*/
     
    .main__containeraboutme{
     grid-template-columns: 1fr 1fr;
     align-items: center;
     justify-self: center;
     margin: 0 auto;
     z-index: 1;
     width: 100%;
     max-width: 1000px;
     
    }
    
    .mainaboutme{
    padding: 20px 0;
    color: #fff;
    }
      .row{
        display: flex;
        justify-content: space-between;
        
    }
    .about-col-1{
        flex-basis: 35%;
    
    }
    .about-col-1 img{
        width: 100%;
        border-radius: 15px;
        margin: 2px 0 10px
    
    }
    .about-col-2{
        flex-basis: 60%;
        
    }
    .sub-title{
        font-size: 50px;
        font-weight: 600;
        color: rgb(238, 96, 13);
    
    }
    .sub-title p {
        font-size: 30px;
    }
    .tab-titles{
        display: flex;
        margin: 2px  5px;
        height: 40px;
    }
    .tab-links{
        margin-right: 70px;
        font-size: 23px;
        font-weight: 500;
        cursor: pointer;
        position: relative;
        color: rgb(238, 96, 13);
    }
    .tab-contents ul{
        display: grid;
        text-align: left;
        padding-left: 0%;
        margin: 0.5px;
    }
    .tab-contents ul li{
        list-style: none;
        margin: 2px 0;
    }
    .tab-contents ul li span{
        color: rgb(16, 187, 16);
        font-size: 18px;
        font-weight: bold;
    }
    .tab-titles-tab-contents{
        margin: 1px;
    }
    .tab-contents{
        display: none;
    }
    .tab-contents.active-tab{
        display: block;
    }
     /*---------------------------------------------Blog-----------------------------------------------*/

  .main__containerblog{
     grid-template-columns: 1fr 1fr;
     align-items: center;
     justify-self: center;
     margin: 0 auto;
     z-index: 1;
     width: 100%;
     max-width: 1000px;
     
  }
  .main__containerblog h1{
     color: #fff;
     text-align: center;
  }
  .work-list{
     display: flex;
     grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
     grid-gap: 40px;
     margin-top: 50px;
  }
  .work{
     border-radius: 10px;
     position: relative;
     overflow: hidden;
     color: #fff;
     
  }
  .work h3{
     color: rgb(238, 96, 13);
 
  }
  
  .work img{
 width: 100%;
 border-radius: 10px;
 display: block;
 
  }
 /*--------------------------------------------Contact-----------------------------*/
 
.main__containercontact{
 display: flex;
 grid-template-columns: 1fr 1fr;
 align-items: center;
 justify-self: center;
 margin: 0 auto;
 height: 80vh;
 z-index: 1;
 width: 100%;
 max-width: 1000px;
 padding: 0 50px;
}
.rowcontact{
 display: flex;
 align-items: center;
}
.contact-left{
 flex-basis: 75%;
 color: white;
 width: 100%;
 
}
.contact-left p{
 font-size: 25px;
}
.contact-left h1{
 color:rgb(238, 96, 13);
}
.contact-right{
 flex-basis: 60%;
}
.contact-right p{
 margin-top: 30px;
}
.btn.btn2{
 display: inline-block;
 background:rgb(238, 96, 13);
 width:50%;
 border: 6px;
 border: 0;
 padding: 15px;
 font-size: 18px;
 border-radius: 20px;
}
.contact-right form{
 width:100%;

}
form input, form textarea{
 width: 100%;
 border: 0;
 outline: none;
 background: #262626;
 padding: 15px;
 margin:15px 0;
 color: #fff;
 font-size: 18px;
 border: 6px;
}
form .btn.btn2{
 padding: 14px 60px;
 margin-top: 20px;
 cursor: pointer;
}
/*----------------------------------------------my work-------------------------------------*/

.main__containerwork{
 grid-template-columns: 1fr 1fr;
 align-items: center;
 justify-self: center;
 margin: 0 auto;
 z-index: 1;
 width: 100%;
 max-width: 1000px;
}
.main__containerwork h1{
 color: #fff;
 text-align: center;
}
.work-list{
 display: flex;
 grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
 grid-gap: 40px;
 margin-top: 50px;
}
.work{
 border-radius: 10px;
 position: relative;
 overflow: hidden;
 color: #fff;
}
.work h3{
 color: rgb(238, 96, 13);

}
.work img{
width: 100%;
border-radius: 10px;
display: block;

}
/*------------------------------------------skills--------------------------------------*/

.main__containerskills{
 display: grid;
 grid-template-columns: 1fr 1fr;
 align-items: center;
 justify-self: center;
 margin: 0 auto;
 height: 80vh;
 z-index: 1;
 width: 100%;
 max-width: 1000px;
 padding: 0 50px;
}
/*--------------------------------------------login---------------------------------*/

        /*-----------------------------------------------footer--------------------------------------------*/
        .footer__section{
            background-color: rgb(1, 44, 1);
            padding: 0.5rem ;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }
        .footer__links{
            width: 100%;
            max-width: 1000px;
            display: flex;
            justify-content: center;

        }
        .footer__links--wrapper{
            display: flex;
        }
        .footer__links--items{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 14px;
            text-align: left;
            width: 160px;
            box-sizing: border-box;

        }
        .footer__links--items h2{
            margin-bottom: 16px;

        }
        .footer__links--items > h2{
            color: #fff;
        }
        .footer__links--items a{
            color:rgb(238, 96, 13);
            text-decoration: none;
            margin: 0.2rem;
        }

        .footer__links--items a:hover{
        color: #e9e9e9;
        transition: 0.3s ease-out;
        }
        .social__icons--links{
        color: #fff;
        font-size: 24px;

       }
       .social__media{
        max-width: 1000px;
        width:100%;
        
       } 
       


       .Website__rights{
        color:#fff;
        display: flex;
        justify-content: center;
        font: 700;
        
       }
     .footer__links--items p{
        height: 1px;
        margin: 12px;
     }
       
        
